

.pancake {
    @include center-it;

    &_lines {
        display: block;
        @include pancake-line;

        &::before {
            @include pseudo-element;
            @include pancake-line;
            top: -10px;
        }
        
        &::after {
            @include pseudo-element;    
            @include pancake-line;
            top: 5px;
        }
    }

    &-open {
        position: absolute;
        right: 80px;
        top: 80px;
        height: 80px;
    }
}

.nav {
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: $primary__bg-color;
    overflow: scroll;
    transition: 0.5s;
    display: flex;
    align-items: center;
    transform: translate(0);

    &_wrapper {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
        list-style: none;
    }
    
    &_item {
        margin: 60px 0;
        font-size: 80px;
        font-weight: bold;
    }

    &_link {
        color: $primary__text-color;
    }
}