$primary__text-color: #333;
$primary__bg-color: #e5e5e5;

body {
    font-family: 'Oxygen', 'sans serif';
}

@import "helpers/_mixins.scss";
@import "modules/_grid.scss";
@import "modules/_nav.scss";
@import "modules/_header.scss";
@import "helpers/_placeholders.scss";
@import "modules/_intro.scss";



