.grid {
    width: 80%;
    margin: 0 auto;

    &__title {
        text-align: center;
        font-size: 40px;
        color: $primary__text-color;
        margin: 40px 0;
    }

    &__subtitle {
        text-align: center;
        font-size: 20px;
        color: $primary__text-color;
        margin: 40px 0;
    }

    &__items {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
    }

    &__item {
        height: 200px;
        width: 200px;
        margin: 0 20px 20px;
        background-color: $primary__bg-color;
        align-items: center;
        @include border-style;

    }

    &__text {
        font-size: 30px;
        text-align: center;
        padding: 80px 0;       
    }
    
    &__link {
        color: $primary__text-color;
    }

}